@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--slate-50);
  color: var(--slate-800);
  line-height: 1.4;
}

:root {
  /* Base Colors */
  --white: #ffffff;
  --black: #000000;

  /* Primary Blue */
  --primary-blue-50: #edf7ff;
  --primary-blue-100: #d7eaff;
  --primary-blue-200: #b9dcff;
  --primary-blue-300: #88c8ff;
  --primary-blue-400: #50a9ff;
  --primary-blue-500: #2884ff;
  --primary-blue-600: #1264ff;
  --primary-blue-700: #0a4ceb;
  --primary-blue-800: #0f3ebe;
  --primary-blue-900: #133995;
  --primary-blue-950: #11245a;

  /* Slate */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  /* Zinc */
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  /* Green */
  --green-50: #f0fdf4;
  --green-500: #10b981;
  --green-600: #059669;

  --primary-blue-gradient-600-700-800: linear-gradient(to top right,
      var(--primary-blue-600) 0%,
      var(--primary-blue-700) 50%,
      var(--primary-blue-800) 100%);

  --primary-blue-gradient-700-800-900: linear-gradient(to top right,
      var(--primary-blue-700) 0%,
      var(--primary-blue-800) 50%,
      var(--primary-blue-900) 100%);

  --gray-gradient-400-500-600: linear-gradient(to top right,
      var(--zinc-400) 0%,
      var(--zinc-500) 50%,
      var(--zinc-600) 100%);
}